
%ul#project-tabs.nav.nav-tabs
  %li#overview
    = link_to "Overview", project_path(@project), :html => { :data_toggle => "tab" }
  %li#phases
    = link_to "Project Phases", project_project_phases_path(@project), :html => { :data_toggle => "tab" }
  %li#deliverables
    = link_to "Deliverables", project_path(@project), :html => { :data_toggle => "tab" }