
%ul#project-tabs.nav.nav-tabs
  %li
    = link_to "Overview", project_path(@project), :html => { :data_toggle => "tab" }
  %li
    = link_to "Project Phases", project_project_phases_path(@project), :html => { :data_toggle => "tab" }