%h1 All Projects

= link_to 'Create Project', new_project_path, :class => "btn btn-primary"

.border-table
  %table.table

    - @projects.each do |project|
      %tr
        %td
          .pull-left.clear
            = link_to project.name , project
          .pull-left.clear
            = "Created on: #{ project.created_at.strftime("%m-%d-%Y")}"
      -#%td= link_to 'delete', project, method: :delete, data: { confirm: 'Are you sure?' }



